:root {
    --x-43xrfb: rgba(0, 0, 0, 0.5);
    --o-sr-EBF: rgba(255, 212, 159, 1);
    --x: rgba(255, 255, 255, 0.1);
    --x-7t-t-mhx: rgba(255, 255, 255, 1);
    --: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }
  