body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.player-container, .container, .chat {
    width: 30%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

textarea {
    width: 100%;
}

input{
    width: 79%;
}

.player-info, .backpack, .skills, .chatRoom, .maps, .objects, .creature, .npcs, .shops {
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

.title {
    background-color: #eccf8f;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}

.list, .map-list, .interactive-object-list, .interactive-creature-list, .npc-list, .shop-list{
    list-style-type: none;
    padding: 0;
}

.list li, .map-list li, .interactive-object-list li, .interactive-creature-list li, .npc-list li, .shop-list li {
padding: 10px;
border: 1px solid #ccc;
margin: 5px 0;
cursor: pointer;
transition: background-color 0.3s;
}

.list li:hover, .map-list li:hover, .interactive-object-list li:hover, .interactive-creature-list li:hover, .npc-list li:hover, .shop-list li:hover {
background-color: #f0f0f0;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

