:root{
    --main:#fff;
}

.justify-content-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

/* 或者直接對li元素應用 */

li {
    list-style-type: none;
}

/* ============================================================== */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 防止在 body 上滾動 */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;  /* 子元素填滿高度 */
    justify-content: center;  /* 子元素填滿寬度 */

    width: 100%;
    height: 100%; /* 讓 body 高度佔滿整個視窗 */
    background-image: url('./images/background.jpg'); /* 設置背景圖片 */
    background-size: cover; /* 確保圖片覆蓋整個元素 */
    background-position: center; /* 將圖片置於元素的中央 */
}
header, footer{
    display: flex;
    flex-direction: row; /* 水平排列Flex項目 */
    align-items: stretch;  /* 子元素填滿高度 */
    justify-content: stretch;  /* 子元素填滿寬度 */
    width: 100%;
}

header{
    background-color: rgba(0, 0, 0, 0.2);
}

footer{
    gap: 10px;
    background: #E2DED4;
}

.main{
    display: flex;
    width: 100%;/*500================================================================================*/
    background-color: rgba(0, 0, 0, 0.2);

    overflow-x: auto; /* 允許橫向滾動 */
    scrollbar-width: none; /* 针对Firefox */
    -ms-overflow-style: none; /* 针对IE和Edge */
    /* 针对WebKit浏览器，如Chrome和Safari */
    &::-webkit-scrollbar {
        display: none;
    }
}

/* ============================================================== */

.display{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    width: 100%;
    align-self: stretch;
}

.row-List{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.colume-List{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.5);
    
    scrollbar-width: none; /* 针对Firefox 隱藏滾動條*/
    -ms-overflow-style: none; /* 针对IE和Edge 隱藏滾動條*/
    overflow-y: auto; /* 允許這個 div 在垂直方向上滾動 */
    /* 针对WebKit浏览器，如Chrome和Safari */
    &::-webkit-scrollbar {
        display: none;
    }
}

/*==================================================*/

li.parameter:nth-child(odd) {
    /* 給奇數項目添加背景 */
    background-color: rgba(0, 0, 0, 0.2); /* 半透明的黑色背景 */
    color: var(--main); /* 確保文字可見 */
}

li.parameter:nth-child(even) {
    /* 給偶數項目添加不同的背景或保留默認樣式 */
    /* 如果您不想給偶數項目特定的樣式，這裡可以留空 */
    color: var(--main); /* 確保文字可見 */
}

header div{
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid #D3BD8E;
    background: linear-gradient(90deg, #4A5265 26.09%, rgba(74, 82, 101, 0.70) 98.6%);
}

.parameter{
    align-self: stretch;
}

.item, .interactive, .product, .option{
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid #D3BD8E;
    background: linear-gradient(90deg, #4A5265 26.09%, rgba(74, 82, 101, 0.70) 98.6%);
}

.option{
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.other-chat, .self-chat{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.other-chat{
    align-items: flex-start;
}

.self-chat{
    align-items: flex-end;
}

.other-chat-content, .self-chat-content{
    border-radius: 25px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.other-chat-content{
    background: #4A5265;
}
.self-chat-content{
    background: #E2DED4;
}

.other-chat-content p{
    color: #FFF;
}

p{
    color: var(--main);
    font-family: Abhaya Libre SemiBold;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
}