body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

}

.Profile, .Skill_Bar, .Function_bar {
    position: absolute;
    width: 40%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -0%); /* 校正元素的中心点 */
}

.Profile {
    top: 0%;
}

.Skill_Bar {
    top: 5.6%; /* 根据 .Profile 的高度调整 */

}

.Interaction_List {
    flex-grow: 1;
    padding-top: 100px; /* 留出足够空间显示顶部固定元素 */
    overflow-y: auto;
}

.Function_bar {
    position: absolute; /* 絕對定位 */
    height:40px;
    bottom: 0%; /* 距离底部10% */

    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 在列表项内的元素之间创建空间 */
    align-items: center; /* 垂直居中对齐 */
    bottom: 0;
    padding: 10px;
    transform: translate(-50%, -0%); /* 校正元素的中心点 */
}

.Function_bar.list{
    max-width:20%;
    background-color: #ff9191;
}

.System_Notification {
    position: fixed;
    top: 10px;
    right: 30%;
    height: 45%;
    width:15%;
    background-color: #ffffff00;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.System_Notification.list{
    padding: 10px;
}

.Full_Page_System_Announcement{
    position: fixed;
    height: 50%;
    width:30%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); /* 校正元素的中心点 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* test */
  
#chatLog {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}
#messageInput {
    width: calc(100% - 90px);
    padding: 5px;
}

#sendButton {
    width: 80px;
    padding: 5px;
}