body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.game-container {
    display: flex;
    justify-content: space-between;
}

.player-info, .backpack, .skills {
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

.chat {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

.title {
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

.h2title {
    background-color: #eccf8f;
    color: white;
    padding: 10px;
}

.objects, .creature, .npcs, .shops{
    width: 30%;
    padding: 20px;
}

.interactive-object-list, .interactive-creature-list, .npc-list, .shop-list{
    list-style-type: none;
    padding: 0;
}

.interactive-object-list li, .interactive-creature-list li, .npc-list li, .shop-list li {
padding: 10px;
border: 1px solid #ccc;
margin: 5px 0;
cursor: pointer;
transition: background-color 0.3s;
}

.interactive-object-list li:hover, .interactive-creature-list li:hover, .npc-list li:hover, .shop-list li:hover {
background-color: #f0f0f0;
}
