:root {
  --n-z1-qk-1: rgba(0, 0, 0, 0.5);
  --n-wc-8wz: rgba(255, 212, 159, 1);
  --x: rgba(255, 255, 255, 0.1);
  --UF-mye-e: rgba(255, 255, 255, 1);
  --: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}
