html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* 讓 body 高度佔滿整個視窗 */
    overflow: hidden; /* 防止在 body 上滾動 */
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: var(--background_color);
}

.player-container, .container, .chat {
    width: 30%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: var(--box_shadow);
    background-color: var(--background_color);
    overflow-y: auto; /* 允許這個 div 在垂直方向上滾動 */
    scrollbar-width: none; /* 针对Firefox */
    -ms-overflow-style: none; /* 针对IE和Edge */
}

.player-container::-webkit-scrollbar, .container::-webkit-scrollbar, .chat::-webkit-scrollbar{
    display: none; /* 针对WebKit浏览器，如Chrome和Safari */
}

.container{
    width: 40%;
}

textarea {
    width: 100%;
}

input{
    width: 79%;
}

.player-info, .inventory, .skills, .chatRoom, .maps, .objects, .creature, .npcs, .shops {
    max-width: 100%;
    padding: 20px;
    box-shadow: var(--box_shadow);
    background-color: var(--background_color);
}

.title {
    background-color: var(--background_color);
    color: var(--color);
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}

.list, .map-list, .interactive-object-list, .interactive-creature-list, .npc-list, .shop-list{
    list-style: none; /* 移除默认的列表样式 */
    list-style-type: none;
    padding: 0; /* 移除默认的内边距 */
    background-color: var(--background_color);
}

.list li, .map-list li, .interactive-object-list li, .interactive-creature-list li, .npc-list li, .shop-list li {
padding: 10px;
border: 1px solid #ccc;
margin: 5px 0;
cursor: pointer;
transition: background-color 0.3s;
background-color: var(--background_color);
color: var(--color);
display: flex; /* 使用 Flexbox 布局 */
justify-content: space-between; /* 在列表项内的元素之间创建空间 */
align-items: center; /* 垂直居中对齐 */
margin-bottom: 10px; /* 给列表项添加一些间隔 */
}

.list li:hover, .map-list li:hover, .interactive-object-list li:hover, .interactive-creature-list li:hover, .npc-list li:hover, .shop-list li:hover {
    background-color: var(--hover_background_color);
    color: var(--hover_color);
}

li span {
    flex-grow: 1; /* 让名称部分占据多余的空间，使得按钮靠右对齐 */
}

/* 当物品被选中时的样式 */
.list li.selected {
    background-color: var(--select_background_color); /* 选中项的背景颜色 */
    color: var(--select_color); /* 选中项的文本颜色 */
    /* 添加其他样式以改善可视化效果 */
}

button {
    padding: 10px 15px;
    background-color: var(--buttom_background_color);
    color: var(--color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* 在按钮之间添加一些空间 */
}

button:hover {
    background-color: var(--hover_background_color);
    color: var(--hover_color);
}

:root {
    --box_shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --background_color: #1f1e1e;
    --medium_background_color: #adadad;
    --buttom_background_color: #3b3232;
    --hover_background_color: #704949;
    --select_background_color: rgb(68, 34, 34);
    
    --color: #ffb2b2;
    --hover_color: #ffb2b2;
    --select_color: #ffc5c5;
}

/* 媒体查询 */
@media (max-width: 768px) {
    .player-info, .inventory, .skills, .objects, .creature, .npcs, .shops {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .list {
        padding: 0;
    }

    .list li {
        margin-bottom: 10px;
    }

    .title {
        text-align: center;
    }

    .chatRoom {
        padding: 10px;
    }
}

/* 图片和媒体 */
img, video {
    max-width: 100%;
    height: auto;
}